.container {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.background {
  background: none;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: 40px;
  position: relative;
}

.raiden {
  background: none;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
}

.radial {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  width: 170%;
  height: 210vh;
  overflow: hidden;
  position: absolute;
  animation: slow 60s linear 0.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  transform: translateZ(-30);
}

@keyframes slow {
  from {
    transform: rotate(0deg) translateZ(-30px);
  }
  to {
    transform: rotate(360deg) translateZ(-30px);
  }
}

.floor {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.tail {
  position: absolute;
  transform: translateZ(-6px);
}

.BambooHat {
  position: absolute;
  transform: translateZ(10px);
}

.RightLeg {
  position: absolute;
  transform: translateZ(-9px);
}

.LeftLeg {
  position: absolute;
  transform: translateZ(1px);
}

.RightSleeve {
  position: absolute;
  transform: translateZ(10px);
}

.face {
  position: absolute;
  transform: translateZ(15px);
}

.WhiteShirt {
  position: absolute;
  transform: translateZ(20px);
}

.RightArm {
  position: absolute;
  transform: translateZ(15px);
}

.LeftArm {
  position: absolute;
  transform: translateZ(35px);
}

.lightning {
  position: absolute;
  animation: vibrate-3 0.5s linear infinite both;
  animation: vibrate-3 0.5s linear infinite both;
  transform: translateZ(50px);
  width: 110%;
}

@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0) translateZ(50px);
  }
  10% {
    transform: translate(-2px, -2px) translateZ(50px);
    transform: translate(-2px, -2px) translateZ(50px);
  }
  20% {
    transform: translate(2px, -2px) translateZ(50px);
    transform: translate(2px, -2px) translateZ(50px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px) translateZ(50px);
    transform: translate(-2px, 2px) translateZ(50px);
  }
  40% {
    -webkit-transform: translate(2px, 2px) translateZ(50px);
    transform: translate(2px, 2px) translateZ(50px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px) translateZ(50px);
    transform: translate(-2px, -2px) translateZ(50px);
  }
  60% {
    -webkit-transform: translate(2px, -2px) translateZ(50px);
    transform: translate(2px, -2px) translateZ(50px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px) translateZ(50px);
    transform: translate(-2px, 2px) translateZ(50px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px) translateZ(50px);
    transform: translate(-2px, -2px) translateZ(50px);
  }
  90% {
    -webkit-transform: translate(2px, -2px) translateZ(50px);
    transform: translate(2px, -2px) translateZ(50px);
  }
  100% {
    -webkit-transform: translate(0) translateZ(50px);
    transform: translate(0) translateZ(50px);
  }
}
@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0) translateZ(50px);
    transform: translate(0) translateZ(50px);
  }
  10% {
    -webkit-transform: translate(-2px, -2px) translateZ(50px);
    transform: translate(-2px, -2px) translateZ(50px);
  }
  20% {
    -webkit-transform: translate(2px, -2px) translateZ(50px);
    transform: translate(2px, -2px) translateZ(50px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px) translateZ(50px);
    transform: translate(-2px, 2px) translateZ(50px);
  }
  40% {
    -webkit-transform: translate(2px, 2px) translateZ(50px);
    transform: translate(2px, 2px) translateZ(50px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px) translateZ(50px);
    transform: translate(-2px, -2px) translateZ(50px);
  }
  60% {
    -webkit-transform: translate(2px, -2px) translateZ(50px);
    transform: translate(2px, -2px) translateZ(50px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px) translateZ(50px);
    transform: translate(-2px, 2px) translateZ(50px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px) translateZ(50px);
    transform: translate(-2px, -2px) translateZ(50px);
  }
  90% {
    -webkit-transform: translate(2px, -2px) translateZ(50px);
    transform: translate(2px, -2px) translateZ(50px);
  }
  100% {
    -webkit-transform: translate(0) translateZ(50px);
    transform: translate(0) translateZ(50px);
  }
}
